@import '~@angular/material/theming';
.mat-card {
    height: 90%;
    margin: 20px;
}

.chat-room {
    .vertical-container::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        font-size: 0;
    }
    .title-container {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
    }
    .member-container {
        width: 100%;
        height: 100%;
        text-align: left;
        overflow: auto;
        button {
            margin-top: 20px;
            margin-left: 20px;
        }
        .long-input {
            width: 80%;
            height: 100%;
        }
    }
    .chat-show {
        width: 100%;
        height: 100%;
        background-image: radial-gradient(farthest-corner at 50% 50%, #f1f1f1 50%, #ddd 75%, #bbb 100%);
        border-left: 4px solid map-get($mat-indigo, 400);
        overflow: auto;
        .mat-list .mat-list-item .mat-list-item-content {
            height: auto!important;
        }
        .inline-message-box {
            display: inline-block;
            width: 100%;
            .message-avator {
                display: inline-block;
                vertical-align: top;
            }
            .message-container {
                max-width: calc(100% - 85px);
                display: inline-block;
                vertical-align: middle;
                word-break: break-all;
                white-space: normal;
                margin: 5px;
                padding: 5px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .chat-input {
        margin-top: 30px;
        width: 100%;
        .mat-input-container {
            width: 100%;
        }
    }
}