/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-light-blue);
// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-pink);
// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
// Create a config with the default typography levels.
@import "./assets/awesome/font-awesome-4.7.0/css/font-awesome.min.css";
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        position: fixed;
        background: #b2dfdb;
    }
}

.chat-show .mat-list .mat-list-item .mat-list-item-content {
    height: auto!important;
    margin-bottom: 10px;
}

.title {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 3em;
    padding-bottom: 20px;
}

.content {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding-bottom: 20px;
}

markdown {
    margin: 0 auto;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    color: #444444;
    line-height: 1;
    padding: 30px;
    img {
        max-width: 100%;
    }
    @media screen and (min-width: 1000px) {
        body {
            width: 842px;
            margin: 10px auto;
        }
    }
    h1,
    h2,
    h3,
    h4 {
        color: #111111;
        font-weight: 400;
        margin-top: 1em;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: Raleway, Arial, Helvetica, sans-serif;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    dl {
        margin-bottom: 16px;
        padding: 0;
    }
    p {
        margin-top: 8px;
        margin-bottom: 3px;
    }
    h1 {
        font-size: 48px;
        line-height: 54px;
    }
    h2 {
        font-size: 36px;
        line-height: 42px;
    }
    h1,
    h2 {
        border-bottom: 1px solid #EFEAEA;
        padding-bottom: 10px;
    }
    h3 {
        font-size: 24px;
        line-height: 30px;
    }
    h4 {
        font-size: 21px;
        line-height: 26px;
    }
    h5 {
        font-size: 18px;
        line-height: 23px;
    }
    a {
        color: #0099ff;
        margin: 0 2px;
        padding: 0;
        vertical-align: baseline;
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
        color: #ff6600;
    }
    a:visited {
        color: purple;
    }
    ul,
    ol {
        padding: 0;
        padding-left: 18px;
        margin: 0;
    }
    li {
        line-height: 24px;
    }
    p,
    ul,
    ol {
        font-size: 16px;
        line-height: 24px;
    }
    ol ol,
    ul ol {
        list-style-type: lower-roman;
    }
    code,
    pre {
        font-family: Consolas, Monaco, Andale Mono, monospace;
        background-color: map-get($mat-teal, 50);
        color: inherit;
    }
    code {
        font-family: Consolas, Monaco, Andale Mono, monospace;
        margin: 0 2px;
    }
    pre {
        font-family: Consolas, Monaco, Andale Mono, monospace;
        line-height: 1.7em;
        overflow: auto;
        padding: 6px 10px;
        border: 1px solid map-get($mat-teal, 100);
        border-left: 5px solid map-get($mat-teal, 500);
        border-radius: 0px 10px 10px 0px / 0px 10px 10px 0px;
    }
    pre>code {
        font-family: Consolas, Monaco, Andale Mono, monospace;
        border: 0;
        display: inline;
        max-width: initial;
        padding: 0;
        margin: 0;
        overflow: initial;
        line-height: 1.6em;
        font-size: .95em;
        white-space: pre;
        background: 0 0;
    }
    code {
        color: #666555;
    }
    aside {
        display: block;
        float: right;
        width: 390px;
    }
    blockquote {
        border-left: .5em solid #eee;
        padding: 0 0 0 2em;
        margin-left: 0;
    }
    blockquote cite {
        font-size: 14px;
        line-height: 20px;
        color: #bfbfbf;
    }
    blockquote cite:before {
        content: '\2014 \00A0';
    }
    blockquote p {
        color: #666;
    }
    hr {
        text-align: left;
        color: #999;
        height: 2px;
        padding: 0;
        margin: 16px 0;
        background-color: #e7e7e7;
        border: 0 none;
    }
    dl {
        padding: 0;
    }
    dl dt {
        padding: 10px 0;
        margin-top: 16px;
        font-size: 1em;
        font-style: italic;
        font-weight: bold;
    }
    dl dd {
        padding: 0 16px;
        margin-bottom: 16px;
    }
    dd {
        margin-left: 0;
    }
    table {
        *border-collapse: collapse;
        /* IE7 and lower */
        border-spacing: 0;
        width: 100%;
    }
    table {
        border: solid #ccc 1px;
    }
    table thead {
        background: #f7f7f7;
    }
    table thead tr:hover {
        background: #f7f7f7
    }
    table tr:hover {
        background: #fbf8e9;
        -o-transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    table td,
    .table th {
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }
    table th {
        border-top: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
        padding: 5px;
        border-left: 1px solid #ccc;
    }
    table td:first-child,
    table th:first-child {
        border-left: none;
    }
}

code[class*=language-],
pre[class*=language-] {
    color: #000;
    background: 0 0;
    text-shadow: 0 1px #fff;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

code[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
pre[class*=language-]::-moz-selection {
    text-shadow: none;
    background: #b3d4fc
}

code[class*=language-] ::selection,
code[class*=language-]::selection,
pre[class*=language-] ::selection,
pre[class*=language-]::selection {
    text-shadow: none;
    background: #b3d4fc
}

@media print {
    code[class*=language-],
    pre[class*=language-] {
        text-shadow: none
    }
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #f5f2f0
}

:not(pre)>code[class*=language-] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: #708090
}

.token.punctuation {
    color: #999
}

.namespace {
    opacity: .7
}

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
    color: #905
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
    color: #690
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5)
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a
}

.token.function {
    color: #DD4A68
}

.token.important,
.token.regex,
.token.variable {
    color: #e90
}

.token.bold,
.token.important {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}


/*# sourceMappingURL=prism.min.css.map */