.mat-card {
    height: 90%;
    margin: 20px;
}

.title-container {
    width: 100%;
    height: 100%;
}

.login-right {
    text-align: left;
    width: 100%;
    height: 100%;
    // padding: 20px;
    display: inline-block;
    .long-input {
        display: inline-block;
        height: 100%;
        width: 40%;
         :first-child {
            margin-top: 15px;
            width: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .long-input-button {
        display: inline-block;
        height: 100%;
         :first-child {
            margin-top: 15px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.action-button {
    margin-right: 10px;
}