.mat-card {
    height: 90%;
    margin: 20px;
}

.title-container {
    width: 100%;
    height: 100%;
}

.login-right {
    text-align: left;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    .mat-input-container {
        width: 90%;
    }
}

.action-button {
    margin-right: 10px;
}