<div class="page-container" id="top">
    <md-card>
        <md-grid-list cols="3" rowHeight="2:1">
            <md-grid-tile colspan="2">
                <div class="title-container">
                    <div class="title">
                        WCD Chat Room
                    </div>
                    <div class="content">
                        Cogito ergo sum -- René Descartes
                    </div>
                </div>
            </md-grid-tile>
            <md-grid-tile>
                <!-- <div class="login-right"> -->
                <div class="login-right" (keydown)="createChat($event)">
                    <md-input-container class="long-input">
                        <md-placeholder>
                            Enter Name of Chat Group
                            <md-icon>mode_edit</md-icon>
                        </md-placeholder>
                        <input mdInput [(ngModel)]="chat_name" maxlength="15" />
                    </md-input-container>
                    <button md-raised-button (click)="createChat()">Create Chat Room</button>
                </div>
            </md-grid-tile>
        </md-grid-list>

        <md-table #table [dataSource]="dataSource">

            <ng-container cdkColumnDef="chat_name">
                <md-header-cell *cdkHeaderCellDef> CHAT </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.chat_name}} </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="chat_creator">
                <md-header-cell *cdkHeaderCellDef> CREATOR </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.creator_nick}} ({{row.creator_ip}}) </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="chat_create_time">
                <md-header-cell *cdkHeaderCellDef> CREATE TIME </md-header-cell>
                <md-cell *cdkCellDef="let row"> {{row.chat_create_time}} </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="chat_action">
                <md-header-cell *cdkHeaderCellDef> ACTION </md-header-cell>
                <md-cell *cdkCellDef="let row">
                    <button md-raised-button (click)="enterChat(row.chat_id)" class="action-button" color="primary">Enter</button>
                    <button *ngIf="ownThisChat(row.creator_ip)" md-raised-button (click)="deleteChat(row.chat_id)" class="action-button" color="accent">Delete</button>
                </md-cell>
            </ng-container>

            <!-- <ng-container cdkColumnDef="color">
                <md-header-cell *cdkHeaderCellDef>Color</md-header-cell>
                <md-cell *cdkCellDef="let row" [style.color]="row.color"> <a href="http://www.baidu.com">{{row.color}} </a></md-cell>
            </ng-container> -->

            <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
    </md-card>
</div>