<h2 md-dialog-title>User Info of {{data.user_ip}}</h2>
<md-dialog-content>
    <md-list>
        <md-list-item>
            <md-input-container class="long-input">
                <md-placeholder>
                    Old Password
                    <md-icon>mode_edit</md-icon>
                </md-placeholder>
                <input mdInput [(ngModel)]="old_password" type="password" />
            </md-input-container>
        </md-list-item>
        <md-list-item>
            <md-input-container class="long-input">
                <md-placeholder>
                    New Password
                    <md-icon>mode_edit</md-icon>
                </md-placeholder>
                <input mdInput [(ngModel)]="new_password" type="password" />
            </md-input-container>
        </md-list-item>
        <md-list-item>
            <md-input-container class="long-input">
                <md-placeholder>
                    Confirm Password
                    <md-icon>mode_edit</md-icon>
                </md-placeholder>
                <input mdInput [(ngModel)]="confirm_password" type="password" />
            </md-input-container>
        </md-list-item>
        <md-list-item>
        </md-list-item>
    </md-list>
</md-dialog-content>
<md-dialog-actions>
    <button md-button [md-dialog-close]="false">Cancel</button>
    <button md-button [md-dialog-close]="{old_password: old_password, new_password: new_password, confirm_password: confirm_password}">Submit</button>
</md-dialog-actions>