<div fuContent="page">
    <h1 fuColor fuText="red" fuCenter>NG-Flat</h1>
    <h2 fuColor fuText="black">layout</h2>
    <h3 fuColor="black">just set the content</h3>
    <div fuContent>
        <div style="height: 200px" fuColor='teal'>
            <div fuContent>
                <div fuColor="black" fuContent fuMiddle fuCenter>this is content</div>
            </div>
        </div>
    </div>
    <h3 fuColor="black">12 boxs layout system</h3>
    <div fuContent>
        <div fuContainer style="height:100px;">
            <p fuContent='1' fuColor="teal" fuCenter fuMiddle>1size</p>
            <p fuContent='1' fuColor="green" fuCenter fuMiddle>1size</p>
            <p fuContent='1' fuColor="blue" fuCenter fuMiddle>1size</p>
            <p fuContent='1' fuColor="purple" fuCenter fuMiddle>1size</p>
            <p fuContent='1' fuColor="yellow" fuCenter fuMiddle>1size</p>
            <p fuContent='1' fuColor="orange" fuCenter fuMiddle>1size</p>
            <p fuContent='1' fuColor="red" fuCenter fuMiddle>1size</p>
            <p fuContent='1' fuColor="silver" fuCenter fuMiddle>1size</p>
            <p fuContent='1' fuColor="gray" fuCenter fuMiddle>1size</p>
            <p fuContent='1' fuColor="black" fuCenter fuMiddle>1size</p>
            <p fuContent='1' fuColor="teal-l" fuCenter fuMiddle>1size</p>
            <p fuContent='1' fuColor="green-l" fuCenter fuMiddle>1size</p>
        </div>
        <div fuContainer style="height:100px;">
            <p fuContent='6' fuColor="red" fuCenter fuMiddle>half</p>
            <p fuContent='6' fuColor="blue" fuCenter fuMiddle>half</p>
        </div>
        <div fuContainer style="height:100px;">
            <p fuContent='2' fuColor="black" fuCenter fuMiddle>2size</p>
            <p fuContent='10' fuColor="gray" fuCenter fuMiddle>10size</p>
        </div>
    </div>
    <h2 fuColor fuText="black">colors</h2>
    <h3 fuColor="black">dark colors</h3>
    <div fuContent>
        <div fuContainer style="height:100px;">
            <p fuContent='1' fuColor="teal" fuCenter fuMiddle>teal</p>
            <p fuContent='1' fuColor="green" fuCenter fuMiddle>green</p>
            <p fuContent='1' fuColor="blue" fuCenter fuMiddle>blue</p>
            <p fuContent='1' fuColor="purple" fuCenter fuMiddle>purple</p>
            <p fuContent='1' fuColor="yellow" fuCenter fuMiddle>yellow</p>
            <p fuContent='1' fuColor="orange" fuCenter fuMiddle>orange</p>
            <p fuContent='1' fuColor="red" fuCenter fuMiddle>red</p>
            <p fuContent='1' fuColor="silver" fuCenter fuMiddle>silver</p>
            <p fuContent='2' fuColor="gray" fuCenter fuMiddle>gray</p>
            <p fuContent='2' fuColor="black" fuCenter fuMiddle>black</p>
        </div>
    </div>
    <h3 fuColor="black">light colors</h3>
    <div fuContent>
        <div fuContainer style="height:100px;">
            <p fuContent='1' fuColor="teal-l" fuCenter fuMiddle>teal</p>
            <p fuContent='1' fuColor="green-l" fuCenter fuMiddle>green</p>
            <p fuContent='1' fuColor="blue-l" fuCenter fuMiddle>blue</p>
            <p fuContent='1' fuColor="purple-l" fuCenter fuMiddle>purple</p>
            <p fuContent='1' fuColor="yellow-l" fuCenter fuMiddle>yellow</p>
            <p fuContent='1' fuColor="orange-l" fuCenter fuMiddle>orange</p>
            <p fuContent='1' fuColor="red-l" fuCenter fuMiddle>red</p>
            <p fuContent='1' fuColor="silver-l" fuCenter fuMiddle>silver</p>
            <p fuContent='2' fuColor="gray-l" fuCenter fuMiddle>gray</p>
            <p fuContent='2' fuColor="black-l" fuCenter fuMiddle>black</p>
        </div>
    </div>
</div>