<div class="page-container" id="top">
    <md-card>
        <div class="title">
            WCD Chat Room
        </div>
        <div class="content">
            Cogito ergo sum -- René Descartes
        </div>
        <div class="big-box" (keydown)="signIn($event)">
            <p>
                <md-input-container class="long-input">
                    <md-placeholder>
                        Enter Your Nick Name
                        <md-icon>mode_edit</md-icon>
                    </md-placeholder>
                    <input mdInput [(ngModel)]="sign_in_data.email" />
                    <!-- <input mdInput [mdTooltip]="form_data.email_tooltip" [mdTooltipPosition]="position" [(ngModel)]="sign_in_data.email" /> -->
                </md-input-container>
                <br/>
                <md-input-container class="long-input ">
                    <md-placeholder>
                        Enter Your Password
                        <md-icon>mode_edit</md-icon>
                    </md-placeholder>
                    <input mdInput [(ngModel)]="sign_in_data.password" type="password" />
                    <!-- <input mdInput [mdTooltip]="form_data.pass_tooltip" [mdTooltipPosition]="position" [(ngModel)]="user_data.password" type="password" /> -->
                </md-input-container>
            </p>
            <button md-raised-button (click)="signIn()">Submit</button>
            <button md-raised-button color="primary" style="padding-left: 20px;" (click)="skipSignIn()">Skip</button>
        </div>
    </md-card>
</div>