.cry-face {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #333;
    font-size: 20em;
    width: 30%;
}

.sorry-content {
    text-align: center;
    display: inline-block;
    width: 69%;
    vertical-align: middle;
}

.error-title {
    text-align: center;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 2.2em;
    padding-bottom: 20px;
}

.error-content {
    text-align: center;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding-bottom: 20px;
}

.mat-card {
    height: 90%;
    margin: 20px;
}